@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #26073f;
  --bg-color: linear-gradient(360deg, transparent, #49544f);
  --bg-color-2: #cfe4b1;

  --font-size-main: 3rem;
  --font-size-secondary: 1rem;

  --button-bg-color: #53d8e1;

  --box-shadow-main: 3px 3px 3px #5a5757;
}

body {
  display: block;
  /* flex-direction: column;
  justify-content: center; */
  /* background-image: var(--bg-color); */
  background-color: var(--bg-color-2);
  background-repeat: no-repeat;
  color: var(--secondary-color);
  font-family: "Source Code Pro", monospace;
}

h1 {
  text-align: center;
  /* text-shadow: var(--box-shadow-main); */
}

/* Button style */
.btn {
  display: block;
  padding: 1em 2.5em;
  font-size: var(--font-size-secondary);
  color: var(--secondary-color);
  background-color: var(--button-bg-color);
  border: none;
  font-weight: 400;
  transition: 0.4s all ease-in-out;
  margin: 1.5em auto;
  box-shadow: var(--box-shadow-main);
  border: 3px #111 solid;
}

.btn:hover {
  cursor: pointer;
  box-shadow: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Placeholder for output */
.output {
  display: block;
  padding: 2em;
  border: 3px #111 solid;
  margin: 1.5em auto;
  background-color: #53d8e1;
  max-width: 50%;
  max-height: 50%;
  box-shadow: var(--box-shadow-main);
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

/* emoji placeholder */
.emoji {
  display: block;
  text-align: center;
  margin: 1em auto;
  width: 2em;
  height: 2em;
  font-size: 5em;
  opacity: 0.95;
  transition: 0.4s all ease-in-out;
  border-bottom: 0.1em #111 solid;
}

.emoji:hover {
  cursor: pointer;
  /* transform: scale(5); */
  opacity: 0;
}
